[submodule "base"]
	path = base
	url = ../libs-toolkit-base.git
[submodule "commons"]
	path = commons
	url = ../libs-toolkit-commons.git
[submodule "webDto"]
	path = webDto
	url = ../libs-toolkits-webDto.git
[submodule "akka-commons"]
	path = akka-commons
	url = ../libs-toolkits-tooakka-commons.git
